input[type="search"] {
  padding-left: 30px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 6px;
  color: #aaa;
}

.category {
  height: calc(100vh - 300px);
  min-width: 250px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  background-color: #ffffff;
}

.check {
  color: red;
}

.check-box-icon {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.not-check {
  color: green;
}

.fixed-height-img {
  height: 200px;
  object-fit: cover;
}

.stock-status {
  position: absolute;
  left: 0px;
  bottom: 5px;

  .stock-alert {
    background-color: rgb(235 232 232);
    color: #918b8b;
    border-radius: 50px;
    font-size: 10px;
    padding: 6px;
    margin: 6px;
  }

  .demand-alert {
    background-color: rgb(235 232 232);
    color: orange;
    border-radius: 50px;
    font-size: 10px;
    padding: 6px;
    margin: 6px;
  }

}


.sort-container {
  display: inline-flex;
  background: #fff;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

 .option {
  background: #fff;
  height: 100%;
  width: 62px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}

.sort-container .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}

.sort-container .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
  appearance: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2 {
  border-color: red;
  background: red;
}

#option-1:checked:checked~.option-1 .dot,
#option-2:checked:checked~.option-2 .dot {
  background: #fff;
}

#option-1:checked:checked~.option-1 .dot::before,
#option-2:checked:checked~.option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}

.sort-container .option span {
  font-size: 20px;
  color: #808080;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span {
  color: #fff;
}

.filter-item-applied {
    padding: 12px 16px !important;
    text-indent: 0 !important;

    height: 36px;
    position: relative;
    display: flex;

    align-items: center;
    color: rgba(0, 0, 0, 0.75) !important;
    cursor: pointer;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.43px;

    background: rgba(54, 138, 192, 0.15) !important;
    border-radius: 5px;
    border: none !important;

    .icon-border {
        background: rgba(54, 138, 192, 0) !important;
    }
}

.filter-item-search {
  background: rgba(54, 138, 192, 1) !important;
  color: white !important;

  .icon-border {
      color: white !important;
  }
}
